  <!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Content/client/dist/img/khoa.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">VuDucKhoa</a>
        </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="~/admin/Categor" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Danh Mục </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/new" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Tin Tức
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Bài Viết
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quảng Cáo
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Danh Mục sản Phẩm  <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh Mục</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sản Phẩm</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/admin" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản Lý
                    </p>
                </a>
            </li>
        </ul>
    </nav>
</div>